:root {
  --color-yellow: #ffe600;
  --color-gray: #999999;
  --color-dodger-blue: #3483fa;
  --color-medium-gray: #666666;
  --color-light-gray: #eeeeee;
  --color-dark-gray: #333333;
}

* {
  padding: 0px;
  margin: 0px;
}

.layout {
  display: grid;
  --column-gap: 16px;
  --row-gap: 16px;
  grid-template-columns: 65px repeat(10, 1fr) 50px;
  grid-template-rows: repeat(11, 1fr);
  width: 70%;
  margin: 0 auto;
}
