:root {
  --color-dark-gray: #333333;
  --color-dodger-blue: #3483fa;
  --color-gray: #999999;
  --color-light-gray: #eeeeee;
  --color-medium-gray: #666666;
  --color-white: #ffffff;
  --color-yellow: #ffe600;
  --size-brand-h: 32px;
  --size-brand-w: 53px;
  --size-detail-image: 680px;
  --size-icon: 12px;
  --size-sm-margin: 16px;
  --size-md-margin: 32px;
  --size-result-image: 180px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, sans-serif, monospace;
}

main {
  background-color: var(--color-light-gray);
  height: 100vh;
}

.layout {
  display: grid;
  --column-gap: 16px;
  --row-gap: 16px;
  grid-template-columns: 1fr 65px repeat(8, 1fr) 50px 1fr;
  grid-template-rows: repeat(11, 1fr);
  width: 80%;
  margin: 0 auto;
}

.display-switch {
  grid-column-start: 2;
  grid-column-end: 12;
  background-color: var(--color-white);
}
