:root {
  --size-icon: 12px;
  --size-brand-w: 53px;
  --size-brand-h: 32px;
  --size-result-image: 180px;
  --size-detail-image: 680px;
}

.image {
  border: 1px solid transparent;
}

.type-brand {
  width: var(--size-brand-w);
  height: var(--size-brand-h);
}

.type-icon {
  width: var(--size-brand);
}

.type-details {
  width: var(--size-detail-image);
}

.type-result {
  width: var(--size-result-image);
}
