.image {
  border: 1px solid transparent;
}

.type-brand {
  width: var(--size-brand-w);
  height: var(--size-brand-h);
}

.type-icon {
  width: var(--size-brand);
}

.type-details {
  width: var(--size-detail-image);
  margin: var(--size-sm-margin);
}

.type-result {
  width: var(--size-result-image);
  margin: var(--size-sm-margin);
}
